@font-face {
  font-family: airborne2;
  src: url(../fonts/airbrne2.ttf);
}

@font-face {
  font-family: 'Airborne';
  src: url(../fonts/airborne.ttf);
}


body {
  padding-top : 45px;
  background-color : #B5B5B5;
}

.navbar-default {
  border: 0px solid transparent;
  background-color : #7f8c8d;
}

.navbar-default .navbar-nav li a {color : white}

#splash_bg {
  clear : both;
  background-image : url(../img/approach.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height : 100vh;
  width : 100%;
  min-height : 650px;
  min-width : 500px;
  padding : 0;
  margin : 0;
}

#welcome {
  height : 500px;
}



#header
{
  border: 0px solid transparent;
  padding-top : 100px;
}
.header{
  font-family: 'Airborne';
  color : #2c3e50;
  font-size : 5em;
}

.header strong {
  color : #c0392b;
}

.footer {
  background-color: #ccc;
}
footer {
  position: relative;
  text-align : center;
  clear:both;
  padding-top:5px;
  font-size : 0.7em;
}