@font-face {
  font-family: airborne2;
  src: url(../fonts/airbrne2.ttf);
}

@font-face {
  font-family: 'Airborne';
  src: url(../fonts/airborne.ttf);
}

html {
  position: relative;
  min-height : 100%;
}
body {
  padding-top : 51px;
  background-color : #fff;
  margin-bottom : 50px;
}


.make-border-right {
  border-right: 1px lightgrey solid;
}

#splash_bg {
  clear : both;
  background-image : url(../img/cat_launch_splash.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height : 100vh;
  width : 100%;
  min-height : 650px;
  min-width : 350px;
  padding : 0;
  margin : 0;
}



#welcome {
  height : 500px;
}

#header
{
  border: 0px solid transparent;
  position : relative;
  top : 10vh;
}

.header{
  font-family: 'Airborne';
  color : #ecf0f1;
  font-size : 2.8em;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
@media (min-width: 991px) {
  .header {
    font-family: 'Airborne';
    color: #ecf0f1;
    font-size: 5em;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }
}

.header strong {
  color : #c0392b;
}



.motto{
  font-family: 'Open Sans';
  color : #2980b9;
  font-weight : bold;
}
@media (min-width: 991px) {
  .motto {
    font-family: 'Open Sans';
    color: #2980b9;
    font-size: 2.5em;
  }
}
.smaller
{
  font-size : 1.8em;
}
.ghost_button {
  font-family : 'Open Sans';
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-top : 7px;
  font-size : 1.2em;
  transition: background-color 0.2s ease-out,
  border-color 0.2s ease-out;
}

.ghost_button:hover,
.ghost_button:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
  border-color 0.3s ease-in;
  text-decoration: none;
  color : #34495e;
}

.sidebar {
  margin : 0;
  padding : 0;
  padding-top : 20px;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #95A5A6;
  border-right: 1px solid #eee;
}

.prof_snapshot {
  margin : 0;
  margin-bottom : 10px;
  padding : 0;
  padding-bottom : 10px;
  position : relative;
  display : block;
  width : 100%;
  min-height : 1px;
  float : left;
  border-bottom : 4px solid lightgrey;
}

.prof_avatar {
  float : left;
  display : block;
  position : relative;
  margin-left : 15px;
}

.prof_avatar img {
  height : 75px;
  width : 75px;
}

.prof_shapshot_content {
  color : white;
  padding : 0;
  padding-top : 4px;
  margin : 0;
  top : 0;
  float : left;
  display : block;
  position : relative;
}

.prof_shapshot_content ul {
  padding : 0;
  margin : 0;
  margin-left : 10px;
  list-style: none;
}

.prof_shapshot_content li {
  font-weight : bold;
}

.nav-sidebar li a{
  color : white;
}

.nav-sidebar li a:hover,
.nav-sidebar li a:focus,
.nav-sidebar li a:active{
  background-color : #446CB3;
  color : white;
}

.dashboard {
  margin-top : 40px;
}

.banner {
  padding : 0;
  margin : 0;
  background : #000 url("http://www.virtualcarrierwing3.com/vb4/images/20th_images/main_display.png") center left;
  background-repeat: no-repeat;
  background-color : #969899;
  background-blend-mode : darken;
  height : 291px;
  width : 100%;
}

@media (min-width: 1000px) {
  .banner {
    padding : 0;
    margin : 0;
    background : #000 url("http://www.virtualcarrierwing3.com/vb4/images/20th_images/main_display.png") center center;
    background-repeat: no-repeat;
    background-color : #969899;
    background-blend-mode : darken;
    height : 291px;
    width : 100%;
  }
}

.airborne {
  font-family: "airborne2";
}

.footer {
  background-color: #ccc;
  position: absolute;
  bottom : 0;
  padding : 0;
  margin : 0;
  width : 100%;
  z-index : 1001;
  text-align : center;
  padding-top:5px;
  font-size : 0.7em;
}